h1 {
    width: 100%;
    background-color: orange;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    opacity: .5;
}

.circle{
    width: 150px;
    height:150px;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
    opacity: .5;
    transition: all .5s ease-in;
    box-shadow: 5px 3px rgb(200, 199, 199);
    
}

.circle:hover{
    opacity: 1;
    width: 175px;
    height: 175px;
}

#red{
 background-color: red;
}

#yellow{
 background-color: yellow;
}

#green{
 background-color: green;
}