h1{
    width: 100%;
    background-color: #ffaa5a;
    border: 1px solid #191919;
    border-radius: 10px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {
    width: 210px;
    background-color: #191919;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    padding-top: 5px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 10px rgb(127, 127, 127);
}

.circle{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 15px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
    opacity: 0.5;
    transition: all 0.5s ease-in;
}

.circle:hover{
    opacity: 1;
}

#red{
    background-color: #cc1616;
}

#yellow{
    background-color: #ffd60a;
}

#green{
    background-color: #48ff00;
}

hr {
    width: 50px;
}