h1{
    width: 100%;
    background-color: #ffaa5a;
    border: 1px solid #191919;
    border-radius: 10px;
    text-align: center;
    opacity: 0.5;
    transition: 0.5s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1:hover{
    opacity: 1;
}

.circle{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 15px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
}

#red{
    background-color: #cc1616;
}

#yellow{
    background-color: #ffd60a;
}

#green{
    background-color: #0079ff;
}